---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/leo-ajc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 1859b1bf78fdaad704f32157d3cafd445876d77c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1487018627'
      Etag:
      - W/"3d0d12f19d6b8bbb143488cce20cd39c"
      Last-Modified:
      - Wed, 11 Jan 2017 12:45:17 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Leo-ajc","id":594096,"avatar_url":"https://avatars.githubusercontent.com/u/594096?v=3","gravatar_id":"","url":"https://api.github.com/users/Leo-ajc","html_url":"https://github.com/Leo-ajc","followers_url":"https://api.github.com/users/Leo-ajc/followers","following_url":"https://api.github.com/users/Leo-ajc/following{/other_user}","gists_url":"https://api.github.com/users/Leo-ajc/gists{/gist_id}","starred_url":"https://api.github.com/users/Leo-ajc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Leo-ajc/subscriptions","organizations_url":"https://api.github.com/users/Leo-ajc/orgs","repos_url":"https://api.github.com/users/Leo-ajc/repos","events_url":"https://api.github.com/users/Leo-ajc/events{/privacy}","received_events_url":"https://api.github.com/users/Leo-ajc/received_events","type":"User","site_admin":false,"name":"Leo
        Campbell","company":null,"blog":"http://leocampbell.net/","location":null,"email":null,"hireable":null,"bio":null,"public_repos":11,"public_gists":0,"followers":10,"following":2,"created_at":"2011-02-01T05:01:39Z","updated_at":"2017-01-11T12:45:17Z"}'
  recorded_at: Mon, 13 Feb 2017 19:43:48 GMT
- request:
    method: get
    uri: https://api.github.com/users/Leo-ajc/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 1859b1bf78fdaad704f32157d3cafd445876d77c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1487018627'
      Etag:
      - W/"fc5c2d6b71bbf87bdfcc65a9dc9a4a53"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":6203829,"name":"Google-Maps-for-Rails","full_name":"Leo-ajc/Google-Maps-for-Rails","owner":{"login":"Leo-ajc","id":594096,"avatar_url":"https://avatars.githubusercontent.com/u/594096?v=3","gravatar_id":"","url":"https://api.github.com/users/Leo-ajc","html_url":"https://github.com/Leo-ajc","followers_url":"https://api.github.com/users/Leo-ajc/followers","following_url":"https://api.github.com/users/Leo-ajc/following{/other_user}","gists_url":"https://api.github.com/users/Leo-ajc/gists{/gist_id}","starred_url":"https://api.github.com/users/Leo-ajc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Leo-ajc/subscriptions","organizations_url":"https://api.github.com/users/Leo-ajc/orgs","repos_url":"https://api.github.com/users/Leo-ajc/repos","events_url":"https://api.github.com/users/Leo-ajc/events{/privacy}","received_events_url":"https://api.github.com/users/Leo-ajc/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Leo-ajc/Google-Maps-for-Rails","description":"Enables
        easy display of items (taken from a Rails 3 model) with Google Map, OpenLayers,
        Bing or Mapquest. Geocoding + Directions included. Provides much options:
        markers customization, infowindows, auto-adjusted zoom, polylines, polygons,
        circles etc... See wiki  for full description and examples.","fork":true,"url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails","forks_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/forks","keys_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/teams","hooks_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/hooks","issue_events_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/issues/events{/number}","events_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/events","assignees_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/assignees{/user}","branches_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/branches{/branch}","tags_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/tags","blobs_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/git/refs{/sha}","trees_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/statuses/{sha}","languages_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/languages","stargazers_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/stargazers","contributors_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/contributors","subscribers_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/subscribers","subscription_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/subscription","commits_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/commits{/sha}","git_commits_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/git/commits{/sha}","comments_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/comments{/number}","issue_comment_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/issues/comments{/number}","contents_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/contents/{+path}","compare_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/merges","archive_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/downloads","issues_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/issues{/number}","pulls_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/pulls{/number}","milestones_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/milestones{/number}","notifications_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/labels{/name}","releases_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/releases{/id}","deployments_url":"https://api.github.com/repos/Leo-ajc/Google-Maps-for-Rails/deployments","created_at":"2012-10-13T14:33:56Z","updated_at":"2013-01-12T16:03:10Z","pushed_at":"2012-10-14T10:19:18Z","git_url":"git://github.com/Leo-ajc/Google-Maps-for-Rails.git","ssh_url":"git@github.com:Leo-ajc/Google-Maps-for-Rails.git","clone_url":"https://github.com/Leo-ajc/Google-Maps-for-Rails.git","svn_url":"https://github.com/Leo-ajc/Google-Maps-for-Rails","homepage":"https://rubygems.org/gems/gmaps4rails","size":1993,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":50343690,"name":"imgflip_cucumber_tests","full_name":"Leo-ajc/imgflip_cucumber_tests","owner":{"login":"Leo-ajc","id":594096,"avatar_url":"https://avatars.githubusercontent.com/u/594096?v=3","gravatar_id":"","url":"https://api.github.com/users/Leo-ajc","html_url":"https://github.com/Leo-ajc","followers_url":"https://api.github.com/users/Leo-ajc/followers","following_url":"https://api.github.com/users/Leo-ajc/following{/other_user}","gists_url":"https://api.github.com/users/Leo-ajc/g[...]
