---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/leo-ajc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 1859b1bf78fdaad704f32157d3cafd445876d77c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1488385763'
      Etag:
      - W/"683bccaa9f101394d5f39062f079a409"
      Last-Modified:
      - Tue, 14 Feb 2017 14:08:54 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Leo-ajc","id":594096,"avatar_url":"https://avatars1.githubusercontent.com/u/594096?v=3","gravatar_id":"","url":"https://api.github.com/users/Leo-ajc","html_url":"https://github.com/Leo-ajc","followers_url":"https://api.github.com/users/Leo-ajc/followers","following_url":"https://api.github.com/users/Leo-ajc/following{/other_user}","gists_url":"https://api.github.com/users/Leo-ajc/gists{/gist_id}","starred_url":"https://api.github.com/users/Leo-ajc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Leo-ajc/subscriptions","organizations_url":"https://api.github.com/users/Leo-ajc/orgs","repos_url":"https://api.github.com/users/Leo-ajc/repos","events_url":"https://api.github.com/users/Leo-ajc/events{/privacy}","received_events_url":"https://api.github.com/users/Leo-ajc/received_events","type":"User","site_admin":false,"name":"Leo
        Campbell","company":null,"blog":"http://leocampbell.net/","location":null,"email":null,"hireable":null,"bio":null,"public_repos":11,"public_gists":0,"followers":10,"following":2,"created_at":"2011-02-01T05:01:39Z","updated_at":"2017-02-14T14:08:54Z"}'
  recorded_at: Wed, 01 Mar 2017 15:29:22 GMT
- request:
    method: get
    uri: https://api.github.com/users/Leo-ajc/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 1859b1bf78fdaad704f32157d3cafd445876d77c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1488385763'
      Etag:
      - W/"b44527063f65eedb2002745a6da42acd"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"language":"Ruby","fork":false},{"language":null, "fork":false},{"language":null, "fork":false}]'
  recorded_at: Wed, 01 Mar 2017 15:29:23 GMT
recorded_with: VCR 3.0.3
