/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.html-test-body {
  background-color: #fbfbfb;
  padding-top: 15px;

  section {
    max-width: 720px;

    article {
      @extend .panel-body;
      @extend .panel;
      padding:12px;
      border-radius: 0px;
      border-style: groove;
      border-width: 1px;
      border-color: rgba(255, 255, 255, 0.28);
      background: linear-gradient(#fff, #f7f7f7);
    }

    img {
      @extend .pull-left;
      @extend .img-rounded;
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }

    time {
      @extend .pull-right;
      color:#bcbab8;
    }
  }
}
